@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=General+Sans:wght@400;500;700&display=swap");
@import url("https://your-cdn-link-to-gt-walsheim-pro.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Walsheim";
  src: url("/fonts/GT-Walsheim-Pro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-walsheim {
  font-family: "Walsheim", sans-serif;
}

.custom-tracking {
  letter-spacing: -4%;
}


@keyframes sweepOutLeft {
  0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(-100vw); }
}

@keyframes sweepInRight {
  0% { opacity: 0; transform: translateX(100vw); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes sweepOutRight {
  0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(100vw); }
}

@keyframes sweepInLeft {
  0% { opacity: 0; transform: translateX(-100vw); }
  100% { opacity: 1; transform: translateX(0); }
}

.sweep-out-left {
  animation: sweepOutLeft 1.2s ease-in-out forwards;
}

.sweep-in-right {
  animation: sweepInRight 1.2s ease-in-out forwards;
}

.sweep-out-right {
  animation: sweepOutRight 1.2s ease-in-out forwards;
}

.sweep-in-left {
  animation: sweepInLeft 1.2s ease-in-out forwards;
}